/* Anchors at Top */
.nav-content {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex: wrap;
  flex-wrap: wrap;
  justify-content: space-around;
}
/* End of Anchors */

/* Navigation */


.main-nav {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;

  -webkit-flex-wrap: wrap;
  -ms-flex: wrap;
  flex-wrap: wrap;

  justify-content: center;
  align-content: center;
}
/* End of Navigation */

/* Categories */
.button-image-container {
	display: flex;
	flex-wrap: wrap;
}

.button-image-container2 {
  margin-bottom: 1em;
}

.button-image-container2:last-child {
  margin-bottom: 0;
}

/*Flexbox code from: https://forums.adobe.com/thread/2370545*/
.button-image {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
  margin-top: -10px;
}

/* End of Categories */

/* Product Categories */
.product-category-container {
	display: flex;
	flex-wrap: wrap;
}

/* End of Product Categories */

.product-listings-container {
	display: flex;
	flex-wrap: wrap;
}

/* Product Listings */



/* End of Product Listing */

/* Product Detailed View */

.product-detail-container {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;

  -webkit-flex-wrap: wrap;
  -ms-flex: wrap;
  flex-wrap: wrap;

  justify-content: center;
}

.product-detail-image {
  flex: 3 1 20%;
}

.product-detail-text {
  flex: 2 1 20%;
}

@media (max-width:50.25em) {

	.product-detail-container {

    display: -webkit-flex;
    display: -ms-flex;
    display: flex;

    -webkit-flex-direction: column;
    flex-direction: column;

	}

  .product-detail {
    order: vertical;
  }

  .product-detail-image, .product-detail-text {
    flex-wrap: nowrap;
  }

}

/* End of Product Detailed View */

/* Cart */

.cart-container {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;

  flex-direction: row;

  -webkit-flex-wrap: nowrap;
  -ms-flex: nowrap;
  flex-wrap: nowrap;

  justify-content: space-between;
}

.cart-container2 {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

}

@media (max-width:50.25em) {
  .cart-container {
    flex-wrap: wrap;
  }

  .cart-container2 {
    flex-wrap: wrap;
  }
}

/* End of Cart */

/* Checkout */
.checkout-container {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;

  flex-direction: row;

  -webkit-flex-wrap: nowrap;
  -ms-flex: nowrap;
  flex-wrap: nowrap;

  justify-content: space-between;
}


.shipping-info {
  flex-grow: 2;
}

.checkout-price-info {
  flex-grow: 1;
}

@media (max-width:50.25em) {
  .checkout-container {
    flex-wrap: wrap;
  }
}

/* End of Checkout */

/* Order Confirmation */


/* End of Order Confirmation */

@media (min-width:900px) {

	.button-image-container {
	 flex-wrap: nowrap;
	}

  .button-image-container2 {
    margin: 0px 1em 1em 0;
  }


  /*nth-child code from: https://css-tricks.com/how-nth-child-works/*/
  .button-image-container2:nth-of-type(3n+3) {
    margin-right: 0;
  }

	.product-category-container {
		flex-wrap: nowrap;
	}

	.product-category {
		margin-right: 1em;
	  margin-bottom: 0;
	}

	.product-category:nth-of-type(3n +3) {
		margin-right: 0;
	}

	.product-listings-container {
		flex-wrap: row wrap;
	}

	.product-item {
		margin-right: 1em;
    width: calc((100% - 3em)/4);
	}

  .product-item:last-child {
	  margin-bottom: 1em;
  }

	.product-item:nth-of-type(4n +4) {
		margin-right: 0;
	}

}

@media (max-width: 50.25em) {
    .product-item{
      -webkit-flex-wrap: wrap;
      -ms-flex: wrap;
      flex-wrap: wrap;
    }
}
