/*
  STYLE GUIDE STYLING
*/
body {
  font-family: "Nunito", Verdana, sans-serif;
  margin-left: 15%;
  margin-right: 15%;
  background-color: #fef7ed;
  color: #3f3f3f;
}

section:not([id]) {
  margin: 1em 0;
  padding: 0.5em 0;
  border-top: 1px solid #333;
}

section h3 {
  margin-bottom: 0;
}

section p {
  margin-top: 0;
}

section code {
  background-color: #EEE;
  padding: 0.5em 0.75em;
}

hr {
  width: 20%;
  margin-top: 2rem;
}

code {
  display: inline-block;
}

.logo {
  display: block;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;

}

.nav-content-item {
  display: inline-block;
  color: #6c82a4;
  padding: 1em 0.75em 0.5em;
  text-decoration: none;
	transition: color 0.5s ease-out;
}

.nav-content-item:active, .nav-content-item:hover, .nav-content-item:focus {
	color: black;
  border-bottom: solid 3px;
  padding-bottom: 0;
}

.wireframe-img {

}


/*
  INTERACTIVE ELEMENTS -------------------
*/

/* Styling for the navigation button */
.button-nav {
  display: inline-block;
  padding: 0.5em 0.75em;
  color: #FFF;
  text-decoration: none;
  background-color: #333;
  border-radius: 0.25em;
  -webkit-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}

.button-nav:hover, .button-nav:focus {
  background-color: #999;
}

/* Styling for the in-text link */
.in-text-link{
  color: #6c82a4;
}

.in-text-link:hover, .in-text-link:focus {
  color: #3f3f3f;
}

/* Styling for the submit/reset button */
button {
  margin: 1rem;
  color: #6c82a4;
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
}

.button-submit {
    display: inline-block;
    background-color: #fef7ed;
    padding: 0.5em 0.75em;
    border-radius: 0.25em;
    border: 3px solid #6c82a4;
    color: #6c82a4;
    -webkit-transition: background-color 0.3s ease-out;
    transition: background-color 0.3s ease-out;
}

.button-submit:hover, .button-submit:focus {
  background-color: #6c82a4;
  color: white;
}

/* Styling for the Text Input Field */
form {
  margin: 1rem;
}

input[type=text], select, textarea {
  width: 40%;
  padding: 12px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}


/*
  TEXT ELEMENTS -------------------
*/
/* Styling for the Headings */
h1 {
  font-family: "MinionPro", Georgia, serif;
  font-size: 2.5rem;
  color: #65516e;
}

h2 {
  font-family: "MinionPro", Georgia, serif;
  font-size: 1.5rem;
  color: #65516e;
}

h3 {
  font-family: "MinionPro", Georgia, serif;
}


/* Citation: Three Column Layout (W3Schools) */
.column {
  float: left;
  position: relative;
  width: 30%
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media (max-width: 600px) {
    .column {
        width: 100%;
    }
}

/* Styling for the Main Navigation */
ul {
  -webkit-padding-start: 0;
}

li a {
  color: #6c82a4;
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
}

li a:hover, a:focus {
  color: #3f3f3f;
}

.main-nav li {
  display: inline-block;
  padding: 0.5em 0.75em 0.5em;
  text-decoration: none;
  -webkit-transition: color 0.5s ease-out;
  transition: color 0.5s ease-out;
}

/* Citation: Line below link on hover (StackOverflow)*/
.main-nav li:hover:after, li:focus:after {
  content: "";
  display: block;
  width: 70%;
  border-bottom: 3px solid;
  margin: 0 auto;
  color: #3f3f3f;
}

@media (max-width: 600px) {
    .main-nav li{
        padding-bottom: 1rem;
    }
}

/* Styling for Product Listings */
.product-item img {
  padding-top: 10px;
  padding-bottom: 10px;
}

.product-item a {
  color: #3f3f3f;
  text-decoration: none;
}

.product-item a:hover, a:focus {
  color: #6c82a4;
  text-decoration: underline;
}

/* Styling for the Grid Structure */
.col {
  background-color: #65516e;
  padding: 1em;
  color: white;
}

/* Styling Colour Swatches */
.swatch-box {
  width: 20%;
  padding-bottom: 2rem;
  border: 1px solid #3f3f3f;
}

.blue {
  background: #6c82a4;
  color: white;
}

.purple {
  background: #65516e;
  color: white;
}

.grey {
  background: #3f3f3f;
  color: white;
}

/*
  COMBINED ELEMENTS -------------------
*/
