@font-face {
  font-family: 'MinionPro';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/MinionPro-Regular.otf');
}

@font-face {
  font-family: 'Avenir';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/Avenir.ttc');
}

@font-face {
  font-family: 'Avenir';
  font-weight: bold;
  font-style: normal;
  src: url('../fonts/AvenirHeavy.otf');
}
